/*Configuração Barra de navegação*/

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fca1fc;
    opacity: 0.99;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 4%;
    background-size: 100%;
    background-color: purple;
}

li, a {
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

#logo {
    cursor: pointer;
    width: 130px;
    height: 130px;
    margin-left: 3%;
}

.navLink {
    list-style: none;
    background-color: purple;
}

.navLink li {
    display: inline-block;
    padding: 0px 20px;
}

.navLink li a {
    transition: all 0.3s ease 0s;
}

.navLink li a:hover {
    color: lightblue;
}

/*Fim barra de navegação*/

h3 {
    padding-top: 2%;
    text-align: center;
    font-size: 30px;
}
h2 {
    padding-top: 2%;
    text-align: center;
    font-size: 30px;
}

#blocoContato {
    margin: 2% 5% 2% 5%;
    background-color: white;
    border-radius: 15px;
}

#blocoContato #formNome input {
    border: 2px solid purple;
    border-radius: 5px;
    width: 100%;
    padding: 18px 23px;
    box-sizing: border-box;
}

#blocoContato #formNome input:focus {
    background-color: rgb(209, 12, 209);
 
}

#formNome {
    padding: 4% 30% 4% 30%;
}


input[type=radio]
{
    display: contents;
    height: 1em;

}

#avaliacao {
    width: 50px;
    height: 50px;
    margin: left 5px;
    
}

.botao:hover {
    background-color: purple;
    color: white;
}

.botao  {
    margin-left:auto;
    margin-right: auto;
    padding: 11px 21px;
    border-color:solid purple;
    border-radius:6px;

    text-decoration:none;
}

#iconAvaliacao {    
    background-image: url("../imagens/estrela.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2px;
    padding-left: 2px;
  }