* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

li, a {
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 4%;
    background-size: 100%;
    background-color: purple;
}

#logo {
    cursor: pointer;
    width: 130px;
    height: 130px;
    margin-left: 3%;
}

.navLink {
    list-style: none;
}

.navLink li {
    display: inline-block;
    padding: 0px 20px;
}

.navLink li a {
    transition: all 0.3s ease 0s;
}

.navLink li a:hover {
    color: lightblue;
}

#container {
    display: inline-block;
    position: relative;
}

#container figcaption {
    position: absolute;
    text-align: center;
    top: 15%;
    left: 5%;
    font-size: 30px;
    color: #F050F0;
}

#container button {
    position: absolute;
    background-color: #F050F0;
    border: none;
    padding: 1% 2%;
    transition-duration: 0.4s;
    border-radius: 7px;
    top: 50%;
    left: 25%;
}

#imagemFaxineira {
    width: 100%;
}

h2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 50px;
    color: #FFFFFF;
}

#containerComoFunciona {
    background-color: purple;
}

.linha {
    display: flex;
    flex-flow: row wrap;
}

.texto1 {
    width: 50%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 3%;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

#logoLongo {
    width: 50%;
    height: auto;
}

